#program.program--hidden
  header
    .close--program
    h1 L & A
    nav 
      p.day--selected(data-day="mardi") Programme
      p(data-day="mercredi") Hébergements
      p(data-day="jeudi") Jeudi 1<sup>er</sup> Juillet
  div.program--content 
    h1 Samedi 23 juillet 2022
    p C’est le grand jour ! Loïc et Audrey s’unissent officiellement ❤️
    p Thème de la fête : fleuri et coloré ! Alors habillez-vous de vos plus belles couleurs 💐
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d581.4910121745287!2d0.7573141328755855!3d44.897084201622185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ab31d98294c097%3A0xed51c1c69d368e2b!2s460%20Rte%20du%20Bourg%2C%2024150%20Mauzac-et-Grand-Castang!5e1!3m2!1sfr!2sfr!4v1646471475179!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy")
    p <span>14h30</span>  Union civile (PACS) à la Mairie de Mauzac-et-Grand-Castang (horaire à confirmer)
    p <span>16H30</span> Cérémonie d'Union Sacrée au Domaine de la Sarmade (horaire à confirmer) Adresse : ...
    p <span>18H</span> Vin d’honneur
    p <span>20H</span> À table ! (Buffet)  
    p <span>De midi au bout de la nuit</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
template.mardi
  h1 Samedi 23 juillet 2022
  p C’est le grand jour ! Loïc et Audrey s’unissent officiellement ❤ 
  p Thème de la fête : fleuri et coloré ! Alors habillez-vous de vos plus belles couleurs 💐
  p <span>14h30</span>  Union civile (PACS) à la Mairie de Mauzac-et-Grand-Castang (horaire à confirmer)
  p <span>16H30</span> Cérémonie d'Union Sacrée au Domaine de la Sarmade (horaire à confirmer) Adresse : ...
  p <span>18H</span> Vin d’honneur
  p <span>20H</span> À table ! (Buffet)  
  p <span>De midi au bout de la nuit</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
template.mercredi
  h1 Hébergements
  h2 Chambres d’hôtes à 10min de Grand-Castang Cosy (70€ à 90€/nuit)
  p <span>17h</span>  Mariage Civil à la mairie d’Aubagne
  p <span>19H</span> Apéro et Dîner au Domaine du Gros Driou
  p.activities Activités disponibles sur la journée : <br> 
    ul 
      li Balade en colline 
      li Sortie à la mer à La Ciotat
      li Visite du village du Castellet
      li Farniente au bord de la piscine du domaine
template.jeudi
  h1 Jeudi 1er juillet
  p <span>8H à 11H</span> Petit-déjeuner au Gros Driou
  p <span>14H</span> Déjeuner au Gros Driou
  p.activities Activités disponibles sur la journée : <br> 
    ul
      li Balade en colline
      li Sortie à la mer à La Ciotat
      li Visite du village du Castellet
      li Farniente au bord de la piscine du domaine

