#program.program--hidden
  header
    .close--program
    h1 Programme des 3 jours
    nav 
      p.day--selected(data-day="mardi") Mardi 29 Juin
      p(data-day="mercredi") Mercredi 30 Juin
      p(data-day="jeudi") Jeudi 1<sup>er</sup> Juillet
  div.program--content 
    h1 Mardi 29 juin - Jour J
    p C’est le grand jour ! Loïc et Audrey s’unissent officiellement ❤️
    p Thème de la fête : fleuri et coloré ! Alors habillez-vous de vos plus belles couleurs 💐
    p <span>14h30</span>  Union civile (PACS) à la Mairie de Mauzac-et-Grand-Castang (horaire à confirmer)
    p <span>16H30</span> Cérémonie d'Union Sacrée au Domaine de la Sarmade (horaire à confirmer) Adresse : ...
    p <span>18H</span> Vin d’honneur
    p <span>20H</span> À table ! (Buffet)  
    p <span>Du coucher du soleil au bout de la nuit</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, nostrum! Ad quas, saepe consequuntur, fuga quam laboriosam dolore at ipsum rem nulla nisi temporibus minus magni architecto aut, sequi tenetur?
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a eaque doloribus quasi expedita eius aliquid libero, labore earum dignissimos nisi accusamus ut? Nihil autem alias natus dicta fuga unde!
template.mardi
  h1 Mardi 29 juin - Jour J
  p C’est le grand jour ! Loïc et Audrey s’unissent officiellement ❤ 
  p Thème de la fête : fleuri et coloré ! Alors habillez-vous de vos plus belles couleurs 💐
  p <span>14h30</span>  Union civile (PACS) à la Mairie de Mauzac-et-Grand-Castang (horaire à confirmer)
  p <span>16H30</span> Cérémonie d'Union Sacrée au Domaine de la Sarmade (horaire à confirmer) Adresse : ...
  p <span>18H</span> Vin d’honneur
  p <span>20H</span> À table ! (Buffet)  
  p <span>Du coucher du soleil au bout de la nuit</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
template.mercredi
  h1 Mercredi 30 Juin
  p <span>10H à 14H</span> Brunch au Gros Driou
  p <span>17h</span>  Mariage Civil à la mairie d’Aubagne
  p <span>19H</span> Apéro et Dîner au Domaine du Gros Driou
  p.activities Activités disponibles sur la journée : <br> 
    ul 
      li Balade en colline 
      li Sortie à la mer à La Ciotat
      li Visite du village du Castellet
      li Farniente au bord de la piscine du domaine
template.jeudi
  h1 Jeudi 1er juillet
  p <span>8H à 11H</span> Petit-déjeuner au Gros Driou
  p <span>14H</span> Déjeuner au Gros Driou
  p.activities Activités disponibles sur la journée : <br> 
    ul
      li Balade en colline
      li Sortie à la mer à La Ciotat
      li Visite du village du Castellet
      li Farniente au bord de la piscine du domaine

