#program.program--hidden
  header
    .close--program
    h1 L & A
    nav 
      p.day--selected(data-day="mardi") Programme
      p(data-day="mercredi") Hébergements
      p(data-day="jeudi") Jeudi 1<sup>er</sup> Juillet
  div.program--content 
    h1 Samedi 23 juillet 2022
    p C’est le grand jour ! Loïc et Audrey s’unissent officiellement ❤️
    p Thème de la fête : fleuri et coloré ! Alors habillez-vous de vos plus belles couleurs 💐
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11773.307503706257!2d0.7462757152501371!3d44.897627810998685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ab31d98294c097%3A0xed51c1c69d368e2b!2s460%20Rte%20du%20Bourg%2C%2024150%20Mauzac-et-Grand-Castang!5e0!3m2!1sfr!2sfr!4v1646474928453!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy")
    p <span>14h30</span>  Union civile (PACS) à la Mairie de Mauzac-et-Grand-Castang (horaire à confirmer)
    p <span>16H30</span> Cérémonie d'Union Sacrée au Domaine de la Sarmade (horaire à confirmer) Adresse : ...
    p <span>18H</span> Vin d’honneur
    p <span>20H</span> À table ! (Buffet)  
    p <span>De midi au bout de la nuit</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
template.mardi
  h1 Samedi 23 juillet 2022
  p C’est le grand jour ! Loïc et Audrey s’unissent officiellement ❤️
  p Thème de la fête : fleuri et coloré ! Alors habillez-vous de vos plus belles couleurs 💐
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d581.4910121745287!2d0.7573141328755855!3d44.897084201622185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ab31d98294c097%3A0xed51c1c69d368e2b!2s460%20Rte%20du%20Bourg%2C%2024150%20Mauzac-et-Grand-Castang!5e1!3m2!1sfr!2sfr!4v1646471475179!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy")
  p <span>14h30</span>  Union civile (PACS) à la Mairie de Mauzac-et-Grand-Castang (horaire à confirmer)
  p <span>16H30</span> Cérémonie d'Union Sacrée au Domaine de la Sarmade (horaire à confirmer) Adresse : ...
  p <span>18H</span> Vin d’honneur
  p <span>20H</span> À table ! (Buffet)  
  p <span>De midi au bout de la nuit</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
template.mercredi
  h1 Hébergements
  h2 Chambres d’hôtes à 10min de Grand-Castang Cosy 
  h2 
    bold Cozy ☀️ (70€ à 90€/nuit)
  a(href="https://www.chambres-hotes.fr/chambres-hotes_l-aur-elie-chambres-et-table-d-hotes-epicerie-fine_lalinde_54430.htm") L'Aur-élie
  a(href="https://www.chambres-hotes.fr/chambres-hotes_les-camelias_lalinde_34975.htm") Les camélias
  a(href="https://www.booking.com/hotel/fr/bed-amp-breakfast-au-calme.fr.html?aid=361081&hotelid=6415122&no_rooms=1&group_adults=2&req_adults=2&group_children=0&req_children=0&checkin=2022-07-22&checkout=2022-07-25&room1=A,A&label=chambre&selected_currency=EUR#availability") Bed & Breakfast au calme
  a(href="https://www.chambres-hotes.fr/chambres-hotes_chambres-d-hotes-de-la-grande-combe_mauzac-et-grand-castang_60845.ht") La grande Combe
  a(href="https://www.chambres-hotes.fr/chambres-hotes_le-clos-de-longas_sainte-foy-de-longas_41898.htm") Le clos de Longas
  a(href="https://www.booking.com/hotel/fr/le-montaigne.fr.html?aid=361081&hotelid=2170184&no_rooms=1&group_adults=2&req_adults=2&group_children=0&req_children=0&checkin=2022-07-22&checkout=2022-07-25&room1=A,A&label=chambre&selected_currency=EUR#availability") Le Montaigne
  a(href="https://www.booking.com/hotel/fr/les-coustilles-ste-alvere-st-laurent-les-batons.fr.html?aid=361081&hotelid=4593914&no_rooms=1&group_adults=2&req_adults=2&group_children=0&req_children=0&checkin=2022-07-22&checkout=2022-07-25&room1=A%2CA&label=chambre&selected_currency=EUR&activeTab=main") Les Coustilles
  h2
    bold Premium ⭐️ (>100€/nuit)
  a(href="https://www.booking.com/hotel/fr/clos-de-bartinquie-lalinde.fr.html?aid=361081&hotelid=2429051&no_rooms=1&group_adults=2&req_adults=2&group_children=0&req_children=0&checkin=2022-07-22&checkout=2022-07-25&label=chambre&selected_currency=EUR&hp_refreshed_with_new_dates=1") Clos de Bartinquie
  a(href="https://www.chambres-hotes.fr/chambres-hotes_maison-porte-del-marty_lalinde_28191.htm") Maison porte del Marty
  a(href="https://www.chambres-hotes.fr/chambres-hotes_les-magnolias_lalinde_39642.htm") Les Magnolias
  a(href="https://www.booking.com/hotel/fr/bed-amp-breakfast-le-moulin-neuf.fr.html?aid=361081&hotelid=542777&no_rooms=1&group_adults=2&req_adults=2&group_children=0&req_children=0&checkin=2022-07-22&checkout=2022-07-25&room1=A%2CA&label=chambre&selected_currency=EUR&activeTab=main") Bed & Breakfast Le Moulin Neuf (à 15min)
  a(href="https://www.chambres-hotes.fr/chambres-hotes_le-cazalfiann_paunat_73228.htm") Le Cazalfiann (à 15min)

  h2 Pour plus de chambres d'hôtes
  a(href="https://www.chambres-hotes.fr/chambres-hotes-search.html?mots_cles=Mauzac%20et%20Grand-Castang&id_ville=9320&lat_lon_centre=44.891543%2C0.757067&rayon=6&date_arrivee=22%2F07%2F2022&date_depart=25%2F07%2F2022&nb_adultes=2&nb_enfants=0&nb_personnes=2&nb_chambres=1&prix_mini=&prix_maxi=&capa_max_ch_famille=&section_site_default=chambreshotes&s=1") Chambres-hôtes.fr
  a(href="https://www.booking.com/searchresults.fr.html?aid=376363&label=booking-name-L*Xf2U1sq4*GEkIwcLOALQS540988882221%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9056599%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YfqnDqqG8nt1XFzPnqOODws&sid=89b11811f8b33d323e96410320472bec&sb=1&sb_lp=1&src=index&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Findex.fr.html%3Faid%3D376363%3Blabel%3Dbooking-name-L%252AXf2U1sq4%252AGEkIwcLOALQS540988882221%253Apl%253Ata%253Ap1%253Ap22%252C563%252C000%253Aac%253Aap%253Aneg%253Afi%253Atikwd-65526620%253Alp9056599%253Ali%253Adec%253Adm%253Appccp%253DUmFuZG9tSVYkc2RlIyh9YfqnDqqG8nt1XFzPnqOODws%3Bsid%3D89b11811f8b33d323e96410320472bec%3Bsb_price_type%3Dtotal%26%3B&ss=Mauzac-et-Grand-Castang%2C+Aquitaine%2C+France&is_ski_area=&ssne=Tr%C3%A9molat&ssne_untouched=Tr%C3%A9molat&checkin_year=2022&checkin_month=7&checkin_monthday=22&checkout_year=2022&checkout_month=7&checkout_monthday=25&group_adults=2&group_children=0&no_rooms=1&b_h4u_keep_filters=&from_sf=1&search_pageview_id=5f2c881c1616009e&ac_suggestion_list_length=4&ac_suggestion_theme_list_length=0&ac_position=0&ac_langcode=fr&ac_click_type=b&dest_id=-1450454&dest_type=city&place_id_lat=44.86386&plac") Booking.com
  a(href="https://www.airbnb.fr/s/Mauzac~et~Grand~Castang--France/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_dates%5B%5D=april&flexible_trip_dates%5B%5D=march&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=calendar&query=Mauzac-et-Grand-Castang%2C%20France&place_id=ChIJcS4i4kgwqxIR8AMYSBdlBgQ&checkin=2022-07-22&checkout=2022-07-25&adults=2&source=structured_search_input_header&search_type=autocomplete_click") Airbnb
  a(href="https://www.abritel.fr/search/keywords:dordogne-france/arrival:2022-07-22/departure:2022-07-25/filter:72?adultsCount=2&petIncluded=false&filterByTotalPrice=true") Abritel
template.jeudi
  h1 Jeudi 1er juillet
  p <span>8H à 11H</span> Petit-déjeuner au Gros Driou
  p <span>14H</span> Déjeuner au Gros Driou
  p.activities Activités disponibles sur la journée : <br> 
    ul
      li Balade en colline
      li Sortie à la mer à La Ciotat
      li Visite du village du Castellet
      li Farniente au bord de la piscine du domaine

