<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0")
    title Invitation
    script(type="module" defer src="./js/index.js")
    link(rel="stylesheet", href="./scss/index.scss")
    img(src="dist/hearth.svg" priority="high")
  body
    include sections/loader.pug
    div.discover Découvrir
    include sections/first_section.pug
    include sections/second_section.pug