<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0")
    title Invitation
    link(href="./js/index.js" rel="preload" as="script")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js" integrity="sha512-CWKGqmXoxo+9RjazbVIaiFcD+bYEIcUbBHwEzPlT0FilQq3TCUac+/uxZ5KDmvYiXJvp32O8rcgchkYw6J6zOA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet", href="./scss/index.scss")
    link(rel="preload" href="./ressources/Bellerose.ttf" as="font" crossorigin="anonymous")
  body
    .loader
    div.discover Découvrir
    include sections/first_section.pug
    include sections/second_section.pug