#loader
  svg(version="1.1" viewBox="0 0 452 423" fill="none" preserveAspectRatio="xMinYMin meet")
    path(d="M221.661 51.4285L225.969 56.8576L230.278 51.4294C252.491 23.4457 286.781 5.5 325.26 5.5C392.182 5.5 446.44 59.7576 446.44 126.68C446.44 179.176 412.38 229.232 366.487 278.109C343.646 302.435 318.166 326.177 293.017 349.56L291.704 350.781C268.631 372.232 245.863 393.4 225.97 414.262C206.077 393.4 183.308 372.232 160.236 350.78L158.923 349.56C133.774 326.177 108.294 302.435 85.4533 278.109C39.5603 229.232 5.5 179.176 5.5 126.68C5.5 59.7576 59.7576 5.5 126.68 5.5C165.169 5.5 199.459 23.446 221.661 51.4285Z" stroke="#D0739F" stroke-width="1" fill-opacity="50%")
    path(d="M221.661 51.4285L225.969 56.8576L230.278 51.4294C252.491 23.4457 286.781 5.5 325.26 5.5C392.182 5.5 446.44 59.7576 446.44 126.68C446.44 179.176 412.38 229.232 366.487 278.109C343.646 302.435 318.166 326.177 293.017 349.56L291.704 350.781C268.631 372.232 245.863 393.4 225.97 414.262C206.077 393.4 183.308 372.232 160.236 350.78L158.923 349.56C133.774 326.177 108.294 302.435 85.4533 278.109C39.5603 229.232 5.5 179.176 5.5 126.68C5.5 59.7576 59.7576 5.5 126.68 5.5C165.169 5.5 199.459 23.446 221.661 51.4285Z" stroke="#D0739F" stroke-width="11" stroke-linecap="round")
  span.text 
    span.progress
