#program.program--hidden
  .close--program
  header
    h1 Programme des 3 jours
    nav 
      p.day--selected(data-day="mardi") Mardi 29 Juin
      p(data-day="mercredi") Mercredi 30 Juin
      p(data-day="jeudi") Jeudi 1<sup>er</sup> Juillet
  div.program--content 
    h1 Mardi 29 juin - Jour J
    p C’est le grand jour ! Loïc et Audrey s’unissent lors d’une cérémonie laïque au Domaine du Gros Driou.
    p <span>16H</span> Arrivée sur les lieux
    p <span>17H</span> Cérémonie laïque
    p <span>18H</span> Vin d’honneur
    p <span>20H</span> Entrée et repas à table
    p <span>22H</span> Gâteau du mariage
    p <span>22H à 04H</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
template.mardi
  h1 Mardi 29 juin Jour J
  p C’est le grand jour ! Loïc et Audrey s’unissent lors d’une cérémonie laïque au Domaine du Gros Driou.
  p <span>16H</span> Arrivée sur les lieux
  p <span>17H</span> Cérémonie laïque
  p <span>18H</span> Vin d’honneur
  p <span>20H</span> Entrée et repas à table
  p <span>22H</span> Gâteau du mariage
  p <span>22H à 04H</span> Soirée Time Machine : tous vos hits préférés, des années 60 à 2020 !
template.mercredi
  h1 Mercredi 30 Juin
  p <span>10H à 14H</span> Brunch au Gros Driou
  p <span>17h</span>  Mariage Civil à la mairie d’Aubagne
  p <span>19H</span> Apéro et Dîner au Domaine du Gros Driou
  p.activities Activités disponibles sur la journée : <br> 
    ul 
      li Balade en colline 
      li Sortie à la mer à La Ciotat
      li Visite du village du Castellet
      li Farniente au bord de la piscine du domaine
      li Pétanque (Ricard inclus)
      li Molki 
template.jeudi
  h1 Jeudi 1er juillet
  p <span>8H à 11H</span> Petit-déjeuner au Gros Driou
  p <span>14H</span> Déjeuner au Gros Driou
  p.activities Activités disponibles sur la journée : <br> 
    ul
      li Balade en colline
      li Sortie à la mer à La Ciotat
      li Visite du village du Castellet
      li Farniente au bord de la piscine du domaine

