/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#invitation {
  position: absolute;
  left: calc(100vw - 600px) !important; 
  top: calc(50% - 300px) !important;
  height: 600px;
  width: 500px;
  font-size: 22px;
  background: #D0739F;
  padding: 50px;
  font-family: Bellerose;
  color: white;
  line-height: 1.6rem;
  text-align: justify;
  letter-spacing: .1rem;
  -webkit-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  -webkit-box-shadow: 1px 1px 8px rgba($color: #000000, $alpha: 0.25);
          box-shadow: 1px 1px 8px rgba($color: #000000, $alpha: 0.25);
  border-radius: 3px;

  @include desktop--S {
    left: 50% !important;
  }

  @include tablet {
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
  }

  @include phone {
    font-size: 16px !important;
  }

  & p {
    margin: 0;
  }

  &.invitation--hidden {
    left: calc(100vw) !important; 

    @include tablet {
      left: 0 !important;
    }
  }
}

.inscription {
  position: absolute;
  color: #D0739F;
  background: #FCF3F7;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  margin: auto;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  -webkit-clip-path: circle(10px at 50% 85%);
          clip-path: circle(10px at 50% 85%);
  -webkit-transition: -webkit-clip-path 0.4s ease-in-out;
  transition: -webkit-clip-path 0.4s ease-in-out;
  -o-transition: clip-path 0.4s ease-in-out;
  transition: clip-path 0.4s ease-in-out;
  transition: clip-path 0.4s ease-in-out, -webkit-clip-path 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px 0 50px 10px;
  font-size: 22px;
  color: black;
  caret-color: #D0739F;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.inscription--open {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

#switch {
  position: absolute;
  width: 150px;
  height: 40px;
  top: 88%;
  left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);
  border-radius: 50px;
  text-align: center;
  background: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #D0739F;
  line-height: 140%;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;

  @include phone {
    line-height: 190%;
  }
}

#switch:hover {
  cursor: pointer;
}

.visible {
  opacity: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

input {
  background: white;
  outline: none;
  border: none;
  vertical-align: middle;

  &::-webkit-input-placeholder {
    color: #EBADCA;
  }

  &::-moz-placeholder {
    color: #EBADCA;
  }

  &:-ms-input-placeholder {
    color: #EBADCA;
  }

  &::-ms-input-placeholder {
    color: #EBADCA;
  }

  &::placeholder {
    color: #EBADCA;
  }
}

input[type="text"], input[type="number"], input[type="mail"] {
  border: 1.5px solid #D0739F;
  border-radius: 50px;
  padding: 8px 10px;
  font-family: sans-serif;
  font-size: 16px;
  width: 130px;
  -webkit-transition: all 0.3s cubic-bezier(.53,1.6,.36,1.03);
  -o-transition: all 0.3s cubic-bezier(.53,1.6,.36,1.03);
  transition: all 0.3s cubic-bezier(.53,1.6,.36,1.03);
  line-height: normal;
  height: 30px;

  &[pattern]:hover {
    width: 150px;
  }

  &[pattern]:focus {
    width: 170px !important;
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    border: 1.5px solid crimson;
    color: white;
    background: crimson;
  }

  &:not(:focus):valid {
    border: 1.5px solid #D0739F;
    width: 150px;
    color: #D0739F !important;
    background: white;
  }
}

textarea {
  height: 30px;
  border: 1.5px solid #D0739F;
  border-radius: 50px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  width: 180px;
  outline: none;
  resize: none;
  line-height: normal;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  &:placeholder-shown {
    overflow: hidden;
  }

  &:not(:placeholder-shown):not(:focus), &:focus {
    height: 115px;
    width: 230px;
    border-radius: 5px;
    color: #D0739F;
  }

  &::-webkit-input-placeholder {
    color: #EBADCA;
  }

  &::-moz-placeholder {
    color: #EBADCA;
  }

  &:-ms-input-placeholder {
    color: #EBADCA;
  }

  &::-ms-input-placeholder {
    color: #EBADCA;
  }

  &::placeholder {
    color: #EBADCA;
  }
}

@-webkit-keyframes focus {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes focus {
  to {
    stroke-dashoffset: 0;
  }
}

.inscription .title, .radioContainer {
  color: #D0739F;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radioContainer:hover {
  cursor: pointer;
}

.radioContainer {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent;
}

.radioContainer .radio {
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}

.radioContainer .radio::before {
  content: '';
  display: inline-block;
  width: 10px; height: 10px;
  background: white;
  border: 1px solid #E0B8B8;
  border-radius: 10px;
  vertical-align: middle;
  margin-right: 12px;
  position: relative;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  top: -2px;
  -webkit-transition: border-radius .2s, border .2s, background .2s, -webkit-transform .05s linear;
  transition: border-radius .2s, border .2s, background .2s, -webkit-transform .05s linear;
  -o-transition: border-radius .2s, border .2s, background .2s, transform .05s linear;
  transition: border-radius .2s, border .2s, background .2s, transform .05s linear;
  transition: border-radius .2s, border .2s, background .2s, transform .05s linear, -webkit-transform .05s linear;
}

.checked::before {
  background: #D0739F !important;
  border: 1px solid #D0739F !important;
  border-radius: 2px !important;
  -webkit-transform: scale(1.3) !important;
      -ms-transform: scale(1.3) !important;
          transform: scale(1.3) !important;
  -webkit-transition: -webkit-transform .2s cubic-bezier(.53,2.9,.36,1.03) !important;
  transition: -webkit-transform .2s cubic-bezier(.53,2.9,.36,1.03) !important;
  -o-transition: transform .2s cubic-bezier(.53,2.9,.36,1.03) !important;
  transition: transform .2s cubic-bezier(.53,2.9,.36,1.03) !important;
  transition: transform .2s cubic-bezier(.53,2.9,.36,1.03), -webkit-transform .2s cubic-bezier(.53,2.9,.36,1.03) !important;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes bounce {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.inscription .button {
  width: 105px; height: 35px;
  border-radius: 50px;
  text-align: center;
  line-height: 22px;
  border: 1px solid #D0739F;
  color: white;
  background: #D0739F;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.inscription .disabled {
  border: 1px solid #D0739F;
  background: transparent;
  color: #D0739F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.inscription .button:not(.disabled):hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
} 

.inscription .button::not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.programme {
  color: #D0739F;
  text-decoration: underline;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent;
}

.programme:hover {
  cursor: pointer;
}

.confirmation {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba($color: darkgrey, $alpha: 0.5);
  display: none;
  justify-content: center;
  align-items: center;

  & .modal {
    padding: 10px 15px;
    border-radius: 3px;
    opacity: 1;
    width: 250px;
    height: 170px;
    background: #FCF3F7;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #D0739F;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .reset {
      background: #D0739F;
      border-radius: 3px;
      color: white;
      text-align: center;
      width: 200px;
      margin: 0 auto;
      margin-top: 20px;
      height: 30px;
      line-height: 22px;
    }
  }
}
