#program {
  position: absolute;
  height: 110%;
  width: 600px;
  left: calc(100vw - 600px) !important; 
  top: -5% !important;
  background: white;
  border-radius: 3px;
  transition: left 0.5s ease-in-out;
  overflow: auto;
  padding-top: 200px;
  box-shadow: -2px 0 14px rgba($color: #000000, $alpha: 0.2);

  & header {
    background: linear-gradient(180deg, white 71.99%, rgba(0, 0, 0, 0));
    position: fixed;
    width: 595px;
    height: 200px;
    top: 0;
  }

  @include tablet {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    padding-top: 120px;

    & header {
      height: 100px;
    }

    & * {
      font-size: 20px !important;
    }
    
    & header {
      width: 100%;
    }
  }

  @include phone {
    & * {
      font-size: 15px !important;
    }
  }
}

#program.program--hidden {
  left: 100vw !important;
}

#program nav {
  width: 85%;
  height: 45px;
  font-family: 'Bellerose';
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;

  & p, sup {
    position: relative;
    font-size: 24px !important;
    
    @include tablet {
      font-size: 22px !important;
    }

    @include phone {
      font-size: 14px !important;
    }
  }

  & p::after {
    content: "";
    background: #D0739F;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    transform-origin: left;
    transition: width 0.3s;
  }

  & p:hover {
    cursor: pointer;
  }

  & sup {
    pointer-events: none;
  }

  & p.day--selected::after {
    width: 100%;
  }
}

.program--content {
  padding: 0 50px;

  @include phone {
    padding: 0 20px;
  }
}

#program h1 {
  font-family: Bellerose;
  font-size: 35px !important;
  text-align: center;
  white-space: nowrap;
    word-wrap: nowrap;
}

#program ul {
  margin: 10px 0;
}

#program li {
  position: relative;
  list-style: none;
}

#program li::before {
  content: '';
  display: inline-block;
  background: #D0739F;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  position: absolute;
  left: -20px;
  top: 50%;
}

#program p, #program li {
  font-size: 25px;
  font-family: Bellerose;
  color: #000000;

  & span {
    color: #D0739F;
  }
}

.close--program {
  position: absolute;
  z-index: 100;
  left: 10%; top: 100px;
  background: no-repeat url('./../ressources/second_section/close.svg');
  background-size: 40%;
  background-position: center;
  background-color: #FCF3F7;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.2s;

  @include tablet {
    bottom: 50px;
  }

  @include phone {
    bottom: 20px;
  }
}

.close--program:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px rgba($color: #000000, $alpha: 0.08);
}