#program {
  position: absolute;
  height: 110vh;
  width: 600px;
  left: calc(100vw - 600px) !important; 
  top: -5% !important;
  background: white;
  border-radius: 3px;
  transition: left 0.5s ease-in-out;
  overflow: hidden;
  box-shadow: -2px 0 14px rgba($color: #000000, $alpha: 0.2);
  display: flex;
  flex-direction: column;

  & header {
    background: linear-gradient(180deg, white 92%, rgba(255, 255, 255, 0));
    overflow: visible;
    z-index: 1000;
    width: 595px;
    padding-bottom: 25px;
    padding-top: 50px;
  }

  @include tablet {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    margin-bottom: 0 !important;

    & * {
      font-size: 20px !important;
    }
    
    & header {
      width: 100%;
    }
  }

  @include phone {
    & * {
      font-size: 15px !important;
    }
  }
}

#program.program--hidden {
  left: 100vw !important;
}

#program nav {
  width: 85%;
  font-family: 'Bellerose';
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 20px;

  & p {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
  }

  & p, sup {
    position: relative;
    font-size: 24px !important;
    
    @include tablet {
      font-size: 22px !important;
    }

    @include phone {
      font-size: 18px !important;
    }
  }

  & p::after {
    content: "";
    background: #D0739F;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    transform-origin: left;
    transition: width 0.3s;
  }

  & p:hover {
    cursor: pointer;
  }

  & sup {
    pointer-events: none;
  }

  & p.day--selected::after {
    width: 100%;
  }
}

.program--content {
  padding: 0 50px 100px 50px;
  overflow: auto;
  transform: translateY(-20px);

  @include phone {
    padding: 0 20px;
  }
}

.program--content h1 {
  margin: 0;
}

#program h1 {
  font-family: Bellerose;
  font-size: 35px !important;
  text-align: center;
}

#program h2 {
  font-size: 24px;
  font-family: bellerose;
}

#program h3 {
  font-size: 22px;
  font-family:  bellerose;

  & span {
    font-size: 14px;
  }
}

a {
  color: black;
  display: inline-block;
  font-size: 22px;
  margin-top: 5px;
  font-family: Bellerose;
}

#program ul {
  margin: 10px 0;
}

#program li {
  position: relative;
  list-style: none;
}

#program li::before {
  content: '';
  display: inline-block;
  background: #D0739F;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  position: absolute;
  left: -20px;
  top: 50%;
}

#program p, #program li {
  font-size: 22px;
  font-family: Bellerose;
  color: #000000;
  margin: .6em 0;

  & span {
    color: #D0739F;
  }
}

.close--program {
  position: absolute;
  z-index: 100;
  left: 5%; top: 60px;
  background: no-repeat url('./../ressources/second_section/close.svg');
  background-size: 40%;
  background-position: center;
  background-color: #FCF3F7;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.2s;

  @include tablet {
    top: 20px;
  }

  @include phone {
    top: 20px;
  }
}

.close--program:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px rgba($color: #000000, $alpha: 0.08);
}

iframe {
  margin: auto;
  outline: 1px solid #D0739F;
  border-radius: 3px;
  padding: 3px;
  display: block;
  width: 70vw;
  max-width: 400px;
}